@media (width >= 480px) { ,
    .collection-card {
        flex-basis: 45%;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
* {
    box-sizing: border-box;
}

@media (width >= 1024px) {
    .collection-card {
        flex-basis: 30%;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
* {
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    margin: 0;
}

body {
    font-family: arial, "Times New Roman", serif;
    line-height: 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 32px 0;
}

main {
    max-width: 800px;
    width: 90%;
    padding: 16px;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

h1 {
    font-weight: normal;
    font-size: 48px;
    line-height: 1em;
    margin-top: 48px;
    margin-bottom: 48px;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-top: 48px;
    margin-bottom: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    padding-bottom: 16px;
}

p {
    margin-bottom: 16px;
}

.screenshot-container {
    margin: 32px 0;
    padding: 16px;
    border: 1px solid rgba(0, 0, 0, 1);
    text-align: center;
}

.screenshot-container img {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.collection-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 32px;
}

.collection-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1 1 calc(50% - 32px);
    gap: 32px;
}